[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
pillow = "*"
pytesseract = "*"
configparser = "*"
requests = "*"
ddt = "*"
pyyaml = "*"
behave = "*"
pyhamcrest = "*"
xlutils = "*"
xlrd = "*"
pymysql = "*"
pymongo = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.6"
